.buttonPrimary {
  padding: 10px;
  margin-left: 20px;
  color: $buttonText;
}

.edit-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  fill: #555;
}

.buy-btn,
new-keg button {
  @extend .buttonPrimary;
  background: $aleBrown;
}


new-keg {
  button {
    @extend .buttonPrimary;
    margin-top: 10px;
    background: $darkBlue;
    &:hover {
      background: $lightBlue;
    }
  }
}
