//Main header
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  border-bottom: 10px solid #111;
  min-height: 10vh;
  padding: 10px;
  color: $greytext;
  //App Name
  h1 {
    font-family: $passionStack;
    font-weight: normal;
    font-size: 3rem;
    flex: 1 50%;
    display: block;
    margin-bottom: 0;
  }
  //Div containing select dropdown for filtering keg view
  .filter {
    margin: 1em auto 0 0;
    @media screen and(min-width: 510px) {
      margin-top: 0;
    }
  }
  select {
    height: 32px;
    margin-left: 5px;
    text-align: center;
  }
  //new keg form container div
  new-keg {
      text-align: center;
      margin: auto;
    h2 {
      margin-bottom: 10px;
    }
  }
  //Link to GitHub documentation
  a {
    margin: 0 20px 0 1px;
    color: $paleAle;
    &:hover {
      color: $hopGreen;
    }
  }
  span {
    margin-left: auto;
  }
}
