header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.75);
  border-bottom: 10px solid #111;
  min-height: 10vh;
  padding: 10px;
  color: $greytext;
  h1 {
    font-family: $passionStack;
    font-weight: normal;
    font-size: 3rem;
    flex: 1 50%;
    display: block;
    margin-bottom: 20px;
    @media screen and(min-width: $mediumScreen) {
      margin-bottom: 0;
    }
  }
  select {
    height: 32px;
    margin-left: 5px;
    text-align: center;
  }
  new-keg {
      text-align: center;
      margin: auto;
    h2 {
      margin-bottom: 10px;
    }
  }
}
