.keg-array {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.kegContainer {
  width: 96vw;
  height: 200px;
  min-height: 135px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%);
  display: flex;
  align-items: center;
  padding: 10px;
  border: 4px solid #555;
  font-family: $vollkornStack;
  @media screen and(min-width: $largeScreen) {
    width: 49vw;
  }
}

.keg-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.keg-id {
  height: 50px;
  width: 50px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
  text-align: center;
  font-size: 2.5rem;
  line-height: 50px;
  background: $actionTeal;
  border-radius: 100%;
  margin-right: 10px;
}

.keg-info {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  color: #ccc;
}

.keg-meta {
  flex: 2 100%;
  .beer-name {
    min-height: 1.5rem;
    font-family: $passionStack;
    font-weight: normal;
    color: $paleAle;
    letter-spacing: 3;
    font-size: 1.5rem;
    max-width: 75%;
    margin: 10px 0;
    @media screen and(min-width: $mediumScreen) {
      font-size: 2.25rem;
    }
  }
  h3 {
    font-size: 1.15rem;
    margin: 10px 0;
  }
}

.pint-price {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 25px;
}

.pintInfo {
  margin-top: 10px;
}





/* CONDITIONALS */

.selected {
  color: #22bdf0;
}

.foo {
  background: red;
}
.expensivePint {
    color: orange;
}

.kegIsLow {
  color: red;
}
