.keg-array {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.kegContainer {
  width: 100vw;
  height: 150px;
  min-height: 135px;
  background: linear-gradient(to bottom, #666a6f 0%,#222222 100%);
  display: flex;
  align-items: center;
  padding: 10px;
  border: 4px solid #111;
  @media screen and(min-width: $largeScreen) {
    width: 49.5vw;
  }
}

.keg-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.keg-id {
  height: 50px;
  width: 50px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
  text-align: center;
  font-size: 2.5rem;
  line-height: 50px;
  background: #999;
  border-radius: 100%;
  margin-right: 10px;
}

.keg-info {
  position: relative;
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.keg-meta {
  flex: 2 100%;
  h2 {
    font-size: 1.25rem;
    max-width: 75%;
    margin: 10px 0;
    @media screen and(min-width: $mediumScreen) {
      font-size: 1.5rem;
    }
  }
  h3 {
    font-size: 1.15rem;
    margin: 10px 0;
  }
}

.pint-price {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 25px;
}

.pintInfo {
  margin-top: 10px;
}

.edit-keg-form {
  color: blue;
  position: absolute;
  top:0%;
  left: 0;
  width: 85%;
  padding: 15px 10px 20px 10px;
  background: black;
  z-index: 9999;
  h2 {
    text-align: center;
  }
  label {
  }
  input {
    margin: 5px 0 10px 0;
    width: 75%;
    display: block;
  }
}



/* CONDITIONALS */

.selected {
  color: #22bdf0;
}

.foo {
  background: red;
}
.expensivePint {
  h2{
    color: orange;
  }
}

.kegIsLow {
  color: red;
}
