//Colors
$actionTeal: #68979B;
$buttonText: #fff;
$darkBlue: #12384B;
$lightBlue: #45758C;
$paleAle: #DDA767;
$aleBrown: #925B1A;

//Font Stacks
$passionStack: 'Passion One', serif;
$vollkornStack: 'Vollkorn', serif;

//Media Queries
$mediumScreen: 768px;
$largeScreen: 1024px;
