//Colors
$actionTeal: #68979B;

$darkBlue: #12384B;
$lightBlue: #45758C;


//Font Stacks
$passionStack: 'Passion One', serif;
$vollkornStack: 'Vollkorn', serif;

//Media Queries
$mediumScreen: 768px;
$largeScreen: 1024px;
