//Colors
$actionTeal: #45738C;
$buttonText: #fff;
$darkBlue: #15425D;
$lightBlue: #45758C;
$paleAle: #DDA767;
$aleBrown: #925B1A;
$hopGreen: #499C70;
$darkHop: #2A8152;
$redAle: #92351A;

//Font Stacks
$passionStack: 'Passion One', serif;
$vollkornStack: 'Vollkorn', serif;

//Media Queries
$mediumScreen: 768px;
$largeScreen: 1024px;
